<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to the Main Page!</h1>
    <p>This is the main page of your Flask application.</p>
    <div id="chat">
      <ul id="messages"></ul>
    </div>
    <input id="message" autocomplete="off" /><button onclick="sendMessage()">
      Send
    </button>

    <script>
      function addMessage(message) {
        const item = document.createElement("li");
        item.textContent = message;
        document.getElementById("messages").appendChild(item);
      }

      function notifyServer() {
        fetch("/notify", { method: "POST" })
          .then((response) => response.json())
          .then((data) => console.log(data.message))
          .catch((error) => console.error("Error:", error));
      }

      function sendMessage() {
        const input = document.getElementById("message");
        const msg = input.value;
        fetch("/send_message", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ message: msg }),
        });
        input.value = "";
      }
      function pollMessages() {
        fetch("/get_messages")
          .then((response) => response.json())
          .then((data) => {
            data.messages.forEach(addMessage);
          });
      }

      window.onload = function () {
        notifyServer();
        pollMessages();
        setInterval(pollMessages, 3000); // Poll messages every second
      };
    </script>
  </body>
</html>
